.shop1Container {
  min-width: 100vw;
  min-height: 100vh;
}

.shop1Content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .shop1Container {
    width: 100%;
    overflow: hidden;
  }
  .shop1Container:first-child {
    margin-top: 100px;
  }
  .shop1Content {
    display: block;
    margin: 0;
  }
}
