.registerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.registerL {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.registerLogo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.registerSignInB {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 98px;
}
.registerSignInP {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-right: 30px;
}
.registerSignInBtn {
  width: 164px;
  height: 48px;
  background-color: #2ba84a;
  box-shadow: 0px 2px 10px #c4c4c4, inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 8px;
  border: none;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.registerR {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  margin-bottom: 50px;
}
.registerRHInfo {
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
.registerRHInfoWelcome {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 3px;
  color: #000000;
  margin-top: 50px;
}
.registerRHInfoSp {
  width: 156px;
  height: 0px;
  border: 3.2px solid #2ba84a;
  margin-top: 10px;
}
.registerRForm {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.registerRFormL {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.registerRFormInput {
  padding: 5px;
  font-size: 15px;
  font-family: 'Nunito';
  font-style: normal;
  border: none;
  border-bottom: 2px solid #c4c4c4;
}
.registerRFormInput:focus {
  outline: none;
}
.inputPass {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px solid #c4c4c4;
}
.passwordBtn {
  width: 90%;
  padding: 5px;
  font-size: 15px;
  font-family: 'Nunito';
  font-style: normal;
  border: none;
}
.passwordBtn:focus {
  outline: none;
}
.eyes {
  font-size: 15px;
  color: #c4c4c4;
  cursor: pointer;
}
.registerTerms {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.registerTermsP {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
}
.registerTermsSp {
  color: #2ba84a;
  cursor: pointer;
}
.registerTermsCheck {
  width: 25px;
  height: 25px;
  background-color: #c4c4c4;
  border-radius: 6px;
  margin-right: 10px;
}

.rememberMe {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.rememeberMeText2 {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #000000;
}
.rememberMeCB {
  margin-left: 10px;
}
.registerSignInSocial {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.registerSignInSocialOr {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.04em;
}
.registerSignInSocialG,
.registerSignInBtn,
.registerSignInSocialF {
  width: 139px;
  height: 48px;
  box-shadow: 0px 2px 10px #c4c4c4, inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
}
.registerSignInSocialS {
  width: 139px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #2ba84a;
  box-shadow: 0px -2px 10px rgba(14, 14, 44, 0.1),
    inset 0px -1px 0px rgba(14, 14, 44, 0.4);
  border-radius: 8px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #2ba84a;
  cursor: pointer;
}
.registerSignInSocialG {
  background-color: #ffffff;
  border: 1px solid #db4437;
  color: #4285f4;
}
.registerSignInSocialF {
  background-color: #ffffff;
  border: 1px solid #4267b2;
  color: #4267b2;
  margin-right: 110px;
}
.g {
  color: #4285f4;
}
.o1 {
  color: #db4437;
}
.o2 {
  color: #f4b400;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userL {
  flex: 1;
}
.userR {
  flex: 1;
  margin-top: 10px;
}

.userDivider {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px solid #c4c4c4;
}
