.navbarContainer {
  display: flex;
  padding-top: 30px;
  width: 100%;
}
.navbarLogo {
  width: 266px;
  cursor: pointer;
}
.navbarLeft {
  flex: 1;
}
.navbarRight {
  flex: 3;
  padding-top: 15px;
}
.navbarUl {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 300px;
  gap: 80px;
  list-style: none;
}
.navbarLi {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 26px;
  cursor: pointer;
}
