.navbarContainer {
  display: flex;
  padding: 30px;
}
.navbarLogo {
  width: 266px;
  height: 49px;
}
.navbarLeft {
  flex: 1;
}
.navbarRight {
  flex: 3;
  padding-top: 15px;
}
.navbarUl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  list-style: none;
}
.navbarLi {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  cursor: pointer;
}
