.navbarContainer {
  display: flex;
  padding: 30px;
}
.navbarLogo {
  width: 266px;
  height: 49px;
  left: 43px;
  top: 44px;
}
.navbarLeft {
  flex: 1;
}
.navbarRight {
  flex: 3;
}
.navbarUl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  list-style: none;
}
.navbarLi {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
