.howitworks-wrapper {
  margin-top: 10rem;
}
.howitworks-wrapper .howitworks-title {
  padding-bottom: 3rem;
}
.howitworks-wrapper .howitworks-title h1 {
  max-width: 65rem;
  width: 100%;
}
.howitworks-wrapper .howitworks-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
