.calendar {
  margin: 0 auto;
  width: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #eee;
}

td:hover {
  background-color: #eee;
  cursor: pointer;
}

.selected {
  background-color: #008cba;
  color: #fff;
}
